<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>Battleship</title>

		<script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ static_url('jquery/jquery-3.1.0.min.js') }}"></script>
        <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}" />

		<!-- include the ship.js -->
		<!--<script src="js/ships.js"></script>-->
		<script src="{{ static_url('js/BattleField.js') }}"></script>
		<script src="{{ static_url('js/Field.js') }}"></script>
		<script src="{{ static_url('js/Ship.js') }}"></script>
        <meta charset="UTF-8" />

	</head>
	<body>
		<h1>Ships</h1>
		<h2>Mein Feld</h2>
		<div id="myfield"></div>
		<h2>Gegner Feld</h2>
		<div id="enemyField"></div>
		<script type="text/javascript">
			mb = new BattleField(10, 10);
			mb.show('myfield');
			// b.clearField();
			eb = new BattleField(10, 10);
			eb.show('enemyField');
		</script>
	</body>
</html>
